<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openmore.cms.dao.OperateLogMapper">
  <resultMap id="BaseResultMap" type="org.openmore.cms.entity.OperateLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>